body{
    background-image: url(./images/bacg.jpg);
    height: 50rem;
}



.svg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


.Music-image{
    background-image: url(./images/bacg.jpg);
    height: 50rem;
    background-size: cover;
}
.Content {
    font-family: 'Lobster', cursive;
    color: white;
    text-align: center;
    position: relative;
    top: 40px;

}
.img{
    width: 285px;
    height: 285px;
    /* margin: auto;
    border-radius: 50%; */
   
}

.head{
    text-align:center ;
    font-family: 'Lobster', cursive;
    color: white;
    position: relative;
    top: 60px;
    font-size: 50px;
}
#card1{
    background-color: #678983;
    font-size: 25px;
    
}
#card2{
    background-color: #647E68;
    font-size: 25px;
}
#card3{
    background-color: #0F3D3E;
    font-size: 25px;
}
.card-title{
font-size: 40px;
}


@media screen and (max-width: 500px) {
    #cardib{
        margin-left: 100px;
        background-color: black;
        color: red;
    }
    
}
