*{
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;
}


body{
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
}


.navbar-nav a{
    color: black;
  }


.login-content{
    text-align: center;
}



  .login{
    padding-top: 80px;
    margin-left: 32%;
  }

  h2{
    width: max-content;
    font-size: 65px;
    position: relative;
    right: 50px;
    cursor: pointer;
    margin: 100px auto;
    color: black;
}

h2::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: #360d81;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

h2:hover::after{
    transform: scaleX(1);
}