*{
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;
    
}

body{
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
}

.navbar-nav a{
  color: black;
}

.about{
    position: absolute;
    height: 80%;
    width: 80%;
    
}

.about-details{
    position: absolute;
    left: 45%;
    top: 200px;
    bottom: 220px;
    color: #fff;
  
}


.about img{
    opacity: 0.7;
    border-radius: 7.5%;
}


.categories{
    margin-top: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    
   }
   
   .categories p{
       color: black;
       font-size: 20px;
   }
   
   .categories-heading{
   
       margin-left: 40%;
   }


   
.Content {
    
    color: #400D51;
    text-align: center;
    position: relative;
    top: 40px;

}


#card1{
    background-color: #C299FC;
    font-size: 25px;
}
#card2{
    background-color:  #C299FC;
    font-size: 25px;
}
#card3{
    background-color: #C299FC;
    font-size: 25px;
}
.card-title{
font-size: 40px;
}


.card{
    transition: all 0.3s;
    /* box-shadow: 5px 10px #5EDFFF; */
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    box-shadow: rgba(214, 167, 228, 0.986) 0px 10px 10px, rgba(214, 167, 228, 0.986) 0px 10px 10px;
}

.card :hover{
    transform: scale(1.05);
  }

  
  .img{
  
    width: 285px;
    height: 285px;
    /* margin: auto;
    border-radius: 50%; */
   
}


.slides{
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 180px;
    padding-bottom: 120px;
}

.movies-details{
    position: absolute;
    left: 60%;
    bottom: -1300px;
    color: #fff;
}


.slides2{
    margin-top: 700px;
    position: absolute;
    left: 10px;
    height: 100%;
    width: 100%;
    padding-top: 180px;
    padding-bottom: 120px;
}

.games-details{
    position: absolute;
    color: #fff;
    left: 3%;
    bottom: -2060px;
}

.slides3{
    margin-top: 1400px;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 180px;
    padding-bottom: 150px;
}


.series-details{
    position: absolute;
    color: #fff;
    left: 60%;
    bottom: -2880px;
   
}


h1{
    width: max-content;
    font-size: 65px;
    position: relative;
    right: 50px;
    cursor: pointer;
    margin: 100px auto;
    color: black;
}

h1::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: #360d81;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

h1:hover::after{
    transform: scaleX(1);
}