*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.logo{
    height: 40%;
    width: 40%;
}

.vidback{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}


nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 80px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.content{
    text-align: center;
}

.content h1{
    font-size: 90px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 40px;
    transition: 0.3s;

}

.content a:hover{
    background-color: rgba(75, 15, 131, 0.685);
    
}

.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.backvid{
position: absolute;
right: 0;
bottom: 0;
z-index: -1;

}


@media (min-aspect-ratio: 16/9){
    .backvid{
        width: 100%;
        height: auto;
    }
}


@media (max-aspect-ratio: 16/9){
    .backvid{
        width: auto;
        height: 100%;
    }
}