.image{
    background-image: url(./images/bacground.jpg);
    height: 60rem;
    background-size: cover;
}
.content{
    color: aliceblue;
    font-size: 70px;
    font-family: 'Lobster', cursive;
    text-align: center;
}
.row{
    position: relative;
    top: 200px;
}
.form-group{
    color: aliceblue;
    font-weight: bolder;
}
.account
{
    font-size: 20px;
    font-weight: bolder;
    color: aliceblue;
    text-align: center;
    position: relative;
    right: 120px;
}
.button{
    position: relative;
    left: 218px;
}