
.html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}
.image{
    background-image: url(./images/bacg.jpg);
    height: 100vh;
    background-size: cover;
}
.content{
    color: aliceblue;
    font-size: 70px;
    font-family: 'Lobster', cursive;
    text-align: center;
}
.row{
    position: relative;
    top: 200px;
}
.form-group{
    color: aliceblue;
    font-weight: bolder;
}
.account
{
    font-size: 20px;
    font-weight: bolder;
    color: aliceblue;
    text-align: center;
    position: relative;
    right: 120px;
}
.button{
    position: relative;
    left: 218px;
}
