
.html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.image{
    background-image: url(./images/back4.jpg);
    background-size: cover;
    height: 100vh;
}
.content{
    color: aliceblue;
    font-size: 70px;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}
.row{
    position: relative;
    top: 200px;
    left: -18px;
}
.form-group{
    color: aliceblue;
    font-weight: bolder;
}
.account
{
    font-size: 20px;
    font-weight: bolder;
    color: aliceblue;
    text-align: center;
    position: relative;
    right: 120px;
}
.button{
    position: relative;
    left: -7px;
}

#form{
    padding: 0px;
    position: relative;
    left: -4px;

}