*{
    font-family: 'Righteous', cursive;
}



body{
    background-image: url(./images/back4.jpg);
    
    
}



h1:hover{
    color: #d90bd9ee;
}

.svg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


.about-details{
    position: absolute;
    left: 60%;
    bottom: 220px;
    color: #fff;
}


.movies-details{
    position: absolute;
    left: 60%;
    bottom: -1300px;
    color: #fff;
}

.games-details{
    position: absolute;
    color: #fff;
    left: 7%;
    bottom: -2100px;
}

.series-details{
    position: absolute;
    color: #fff;
    left: 60%;
    bottom: -2880px;
}



.about img{
    opacity: 0.7;
    border-radius: 7.5%;
}



.categories{
 padding-top: 100px;
 
}

.categories p{
    color: black;
    font-size: 20px;
}

.categories-heading{

    margin-left: 40%;
}




.card{
    transition: all 0.3s;
    /* box-shadow: 5px 10px #5EDFFF; */
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    box-shadow: rgba(214, 167, 228, 0.986) 0px 10px 10px, rgba(214, 167, 228, 0.986) 0px 10px 10px;
}
.card :hover{
  transform: scale(1.05);
}


.Content {
    /* font-family: 'Lobster', cursive; */
    font-family: 'Orbitron', sans-serif;
    color: #400D51;
    text-align: center;
    position: relative;
    top: 40px;

}
.img{
  
    width: 285px;
    height: 285px;
    /* margin: auto;
    border-radius: 50%; */
   
}

.head{
    text-align:center ;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Orbitron', sans-serif;
    color: yellow;
    position: relative;
    top: 60px;
    font-size: 50px;
}
#card1{
    background-color: #C299FC;
    font-size: 25px;
}
#card2{
    background-color:  #C299FC;
    font-size: 25px;
}
#card3{
    background-color: #C299FC;
    font-size: 25px;
}
.card-title{
font-size: 40px;
}

.slides-heading{

 color: blanchedalmond;
 position: relative;
 bottom: 50px;
 left: 35%;
}

.slides{
    padding-top: 180px;
    padding-bottom: 120px;
}
.slides2{
    padding-top: 180px;
    padding-bottom: 120px;
}

.slides3{
    padding-top: 180px;
    padding-bottom: 120px;
}

.carousel{
    box-shadow: rgba(59, 31, 55, 0.07) 0px 1px 2px, rgba(59, 31, 55, 0.07) 0px 2px 4px, rgba(59, 31, 55, 0.07) 0px 4px 8px, rgba(59, 31, 55, 0.07) 0px 8px 16px, rgba(59, 31, 55, 0.07) 0px 16px 32px, rgba(59, 31, 55, 0.07) 0px 32px 64px;
}


h1{
    width: max-content;
    font-size: 65px;
    position: relative;
    right: 50px;
    cursor: pointer;
    margin: 100px auto;
    color: #fff;
}

h1::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: #360d81;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

h1:hover::after{
    transform: scaleX(1);
}


@media screen and (max-width: 500px) {
    #cardib{
        margin-left: 100px;
        background-color: black;
        color: red;
    }
    
}

